# Jupyter temporary files
.ipynb_checkpoints/

# Temporary notebooks
Untitled*.ipynb

# Large duplicate model files
rf_rul_model.pkl
rul_imputer.pkl

# Large intermediate validation file
X_val_imputed.csv

# Original ZIP dataset
CMAPSSData.zip

# Python cache
__pycache__/
venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store